{% extends "workspace/base_private.html" %}

{% block workspace_content %}
    <div class="content">
        <h2 class="title is-3">{{ note.title }}</h2>

        <p class="is-size-7 has-text-grey">
            Créée le {{ note.created_at|date:"d/m/Y H:i" }}<br>
            Dernière modification le {{ note.updated_at|date:"d/m/Y H:i" }}
        </p>

        <hr>

        <div class="box">
            {{ note.content|linebreaks }}
        </div>

        <div class="buttons mt-4">
            <a href="{% url 'note_update' note.id %}" class="button is-warning">Modifier</a>
            <a href="{% url 'note_delete' note.id %}" class="button is-danger is-light">Supprimer</a>
        </div>

        <div class="mt-4">
            <a class="button is-light" href="{% url 'note_list' %}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}